.MenuItem {
    margin: 0;    
    box-sizing: border-box;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
    cursor: pointer;
}

.MenuItem a {
    padding: 0 20px;
    border-bottom: 4px solid transparent;
    cursor: pointer;
    color: rgba(46, 49, 52, 0.8);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 72px;
    text-transform: uppercase;
    text-decoration: none;
}

.MenuItem a:hover {    
    color: rgba(46, 49, 52, 1.0);
}
