.MainImage {
    opacity: 0.79;
    height: 200px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;

    .CenterText {
        p {
            margin: auto;
            width: 60%;
            height: 172px;
            color: #ffffff;
            font-size: 28px;
            font-weight: 600;
            letter-spacing: 1px;
            line-height: 90px;
            text-align: center;
        }        
    }
    .Button {
        display: block;
        width: 392px;
        margin-top: 56px;
        height: 56px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24), 0 0 1px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        background-color: #0069d2;
        color: #FFFFFF;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1px;
        line-height: 56px;
        text-transform: uppercase;
        text-align: center;
        cursor: pointer;

        &:hover {
            background-color:  #004d99;
        }
    }
}

@media (min-width: 500px) and (max-width: 700px) {
    .MainImage {
        height: 301px;

        p {
            font-size: 42px;
        }
    }
}

@media (min-width: 701px) and (max-width: 1000px) {
    .MainImage {
        height: 501px;

        .CenterText p {
            font-size: 56px;
        }
    }    
}

@media (min-width: 1000px) {
    .MainImage {
        height: 801px;
        
        .CenterText p {
            font-size: 72px;
        }
    }

}