.Carousel {
    min-height: 232px;
    border-radius: 2px;
    background-color: #F4F4F7;
    display: flex;
    justify-content: center;
    align-self: center;
    
    .CarouselItems {
        position: relative;
        max-width: 1440px;
        display: flex;
        justify-content: center;
        align-self: center;
        overflow: hidden;
        
        &:first-child {
            padding-left: 24px;
        }

    }
}